.sidenav {
  width: 15rem;
  padding: 3rem 1rem;
}
.sidenav ul li {
  margin-bottom: 1.5rem;
}

li {
  color: var(--turquoise-dark-color);
  font-size: 16px;
  padding: 0.5rem;
  border-radius: 0.4rem;
}
.active {
  color: var(--seconder-color);
}
.noActive {
  color: var(--turquoise-dark-color);
}
li:hover {
  color: var(--seconder-color);
  cursor: pointer;
  background: #00839a1e;
}
