<section class="container">
  <div class="cart-header d-flex align-items-center justify-content-between ps-2">
    <div>
      <h1 class="fs-3 ">Shopping Cart</h1>
      <p class="fs-6">You have <strong> {{cartProducts.length}} </strong> item in your cart</p>
    </div>
    <div class="pe-2">
      <button mat-raised-button class="button-cart p-2 fs-6 fw-bold" (click)="deleteAllProducts()">empty cart</button>
    </div>
  </div>
  <!-- Table Cart -->
  <div class="example-container mat-elevation-z8 h-25 mb-5 px-3">
    <mat-table #table [dataSource]="cartProducts">
      <!-- <div *ngFor="let index i "> -->
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
      <!-- image Column -->
      <ng-container matColumnDef="image">
        <mat-header-cell *matHeaderCellDef class="header-cell-title fs-6 fw-bold"> Image </mat-header-cell>
        <mat-cell *matCellDef="let item">
          <div class="image-product  d-flex justify-content-center align-items-center my-3 p-2">
            <img src="{{item.item.image}}" alt="">
          </div>
        </mat-cell>
      </ng-container>
      <!-- title Column -->
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef class="header-cell-title fs-6 fw-bold"> Name </mat-header-cell>
        <mat-cell *matCellDef="let item"> {{item.item.title}} </mat-cell>
      </ng-container>
      <!-- category Column -->
      <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef class="header-cell-title fs-6 fw-bold"> Category </mat-header-cell>
        <mat-cell *matCellDef="let item"> {{item.item.category}} </mat-cell>
      </ng-container>
      <!-- price Column -->
      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef class="header-cell-title fs-6 fw-bold"> Price </mat-header-cell>
        <mat-cell *matCellDef="let item"><strong>{{item.item.price }} $</strong> </mat-cell>
      </ng-container>
      <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef class="header-cell-title fs-6 fw-bold ps-5"> Quantity </mat-header-cell>
        <mat-cell *matCellDef="let item">
          <button mat-icon-button color="accent"
            class="add d-flex justify-content-center align-items-center border-0 rounded-circle"
            aria-label="Example icon button with a menu icon" (click)="plusQuantity(item)">
            <mat-icon>add</mat-icon>
          </button>
          <input matInput type="number" min="0" class="inputQauntity mx-2" (change)="detectChange()"
            [(ngModel)]="item.quantity">
          <!-- {{item.quantity}} -->
          <button mat-icon-button color="accent"
            class="remove d-flex justify-content-center align-items-center border-0 rounded-circle"
            aria-label="Example icon button with a menu icon" (click)="minQuantity(item)">
            <mat-icon>remove</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="total">
        <mat-header-cell *matHeaderCellDef class="header-cell-title fs-6 fw-bold">Total Price</mat-header-cell>
        <mat-cell *matCellDef="let item"><strong>
            {{item.item.price * item.quantity  | number: '3.0-2'}} $ </strong> </mat-cell>
      </ng-container>
      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let item" class="d-flex justify-content-center">
          <div class="delete-button-container">
            <button mat-fab color="primary"
              class="delete d-flex justify-content-center align-items-center border-0 rounded-circle"
              aria-label="Example icon button with a delete icon" (click)="deleteProduct(item)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  <div class="d-flex justify-content-end pe-2 mb-5  pb-5">
    <div class="pt-2 d-flex align-items-center justify-content-center">
      <p class=" fs-6 fw-bold" style="color:0d2833"> Total: <strong>{{allTotal | number: '3.0-2'}} $</strong>
      </p>
    </div>
    <div class="ms-5">
      <button mat-raised-button class="button-cart p-2 fs-6 fw-bold" (click)="addCart()">Order Now</button>
    </div>
  </div>
</section>
