.bg {
  background: #00839a1e;
  height: calc(100vh - 107px);
}
.loader {
  padding-top: 12rem;
}
.product-card {
  max-width: 46rem;
}
.title {
  color: #007472;
}
strong,
.arrow-forward {
  color: var(--seconder-color);
}
.arrow-forward:hover {
  cursor: pointer;
}
.product-card:hover .arrow-forward {
  animation: right-to-left 0.7s linear infinite;
}
@keyframes right-to-left {
  0% {
    transform: translateX(-0.7rem);
  }
}
