<!-- <div [ngClass]="!loader ? 'active-loader' : 'home-container'"> -->
<article class="home-bg">
  <div class="container">
    <div class="title-container">
      <h1 class="">Turquoise</h1>
      <p class="pt-4 pe-5 my-5"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel, accusantium maxime
        sapiente at minima, velit alias autem labore quo eum provident? Similique eos modi animi laborum, cupiditate
        tempore omnis dolore! </p>
      <div class="">
        <button mat-stroked-button routerLink="/products">Buy Now...</button>
      </div>
    </div>
  </div>
</article>
<!-- ************************************************************** -->