<div class="home-container">
  <div class="home-bg">
    <div class="title">
      <h1 class="mb-5">Turquoise</h1>
      <p class="pt-4 mt-5 mb-3"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel, accusantium maxime sapiente at minima, velit
        alias autem labore quo eum provident? Similique eos modi animi laborum, cupiditate tempore omnis dolore! </p>
      <button mat-stroked-button routerLink="/products">Buy Now...</button>
    </div>
  </div>
</div>

<!-- ************************************************************** -->
