<ul class="links">
  <li routerLinkActive="active" routerLink="/home" class="nav-link">
    <a class="link-light  link-underline-opacity-0 px-4 " routerLink="/home" href=""> Home</a>
  </li>
  <li routerLinkActive="active" routerLink="/products" class="nav-link">
    <a class="link-light link-underline-opacity-0 px-3" routerLink="/products" href="">Products</a>
  </li>
  <!-- <li routerLinkActive="active" routerLink="/cart" class="nav-link">
    <a class="link-light link-underline-opacity-0 px-3" routerLink="/cart" href="">Cart</a>
  </li> -->
  <li routerLinkActive="active" routerLink="/contact" class="nav-link">
    <a class="link-light link-underline-opacity-0 px-2" routerLink="/contact" href="">Contact Us</a>
  </li>
</ul>
