mat-toolbar {
  padding: 0 2rem;
}
.icon-button {
  margin: 0 10px;
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 255);
}
.example-spacer {
  flex: 1 1 auto;
}
mat-toolbar-row {
  height: 2.5rem;
}
.header {
  background-color: #0d2833;
}
.cart-icon:hover {
  color: #fd7d00;
}

