<div class="main-nav">
  <header class="header">
    <mat-toolbar class="header" color="primary">
      <h1 class="mt-3">TURQUOISE</h1>
      <span class="example-spacer"></span>
      <button mat-icon-button class="icon-button mt-3" aria-label="icon-button with menu icon">
        <mat-icon [matMenuTriggerFor]="beforeMenu" class="mx-3 search-icon"> search </mat-icon>
        <mat-menu #beforeMenu="matMenu" xPosition="before" class="beforeMenu">
          <button mat-menu-item>
            <p class="beforeMenu-p">Lorem ipsum dolor sit amet.</p>
          </button>
          <button mat-menu-item>
            <p class="beforeMenu-p"> Lorem ipsum dolor sit.</p>
          </button>
          <button mat-menu-item>
            <p class="beforeMenu-p">Lorem ipsum dolor sit amet.</p>
          </button>
          <button mat-menu-item>
            <p class="beforeMenu-p"> Lorem ipsum dolor.</p>
          </button>
        </mat-menu>
        <mat-icon [matBadge]="cartProducts.length" matBadgeColor="warn" class=" cart-icon" (click)="goToCartPage()">
          shopping_cart </mat-icon>
      </button>
    </mat-toolbar>
  </header>
  <app-nav></app-nav>
</div>
<div>
  <router-outlet></router-outlet>
</div>