.add-to-card-button {
  border: none;
  font-size: 14px;
  height: 2rem;
  width: 7rem;
  border-radius: 0.3rem;
  margin-right: 0.5rem;
  background-color: var(--main-color);
  color: var(--seconder-color);
}
.h1 {
  color: var(--seconder-color);
}
.inputQauntity {
  width: 9rem;
}
